.header{
  background: linear-gradient(to right, #8975fb 0%, #746be7 35%), linear-gradient(to bottom, #8975fb 0%, #6f4ceb 50%), #6f4ceb;
  width: 100%;
  padding: 15px 20px;
  color: white;
  display: flex;
  align-items: center;
  height: 70px;
  h3 {
    @media (max-width: 400px){
      font-size: 21px;
    }
  }
  h3 span {
    opacity: .4;
  }
}